/* Style de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    border-bottom: 1px solid var(--border);
    max-width: 1330px;
    width: 100%;
  }
  .container-logo{
    display: flex;
    align-items: center;
    gap:10px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  

  .navbar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 32px;
    height:32; 
  }
  
  
  body.dark-mode .toggle-btn {
    background-color: #f0f0f0;
    color: #333;
  }
  