/* Style de la Sidebar */
.sidebar {
    width: 0px;
    background-color: #444;
    color: white;
    height: 100%; /* Ajuster pour la navbar */
    transition: width 0.3s ease-in-out;
  }
  
  .sidebar.open {
    width: 200px;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    margin: 1rem 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;

  }
  
  .sidebar a:hover {
    color: #00bcd4;
  }
  