.ch-drop-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 200px;
    padding: 20px;
    color: #222245;
    cursor: default;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    border: 2px dashed #222245;
}

.ch-drop-container:hover {
    background: #eee;
}

.ch-drop-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ch-drop-container.drag-active {
    background: #eee;
}

.ch-drop-input[type="file"] {
    width: 100%;
    max-width: 100%;
    color: #222245;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #222245;
}

.ch-drop-input[type="file"]:focus {
    outline: 2px dashed #222245;
    outline-offset: 2px;
}

.ch-drop-input[type="file"]::file-selector-button {
    margin-right: 8px;
    border: none;
    background: #222245;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
}

.ch-drop-input[type="file"]::file-selector-button:hover {
    background: #4747b8;
}

.ch-file-selected {
    border: 5px solid #4CAF50;
}
