:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #8e87f5;
  --body-color: #fff;
  --sidebar-color: #fff;
  --text-color: #242526;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--body-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body.dark {
  --primary-color: #8e87f5;
  --body-color: #242526;
  --text-color: #fff;
  --sidebar-color: #242526;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #8e87f5;
    --body-color: #fff;
    --sidebar-color: #fff;
    --text-color: #242526;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #8e87f5;
    --body-color: #242526;
    --text-color: #fff;
    --sidebar-color: #242526;
  }
}
